/* Styling for the body */
body {
    background-image: url(../images/Backgroundchatbot.png);
}

/* Styling for the chat container */
.chat-container {
    /* Layout */
    max-width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    /* Appearance */
    padding: 20px;
    border: 1px solid #402b74;
    border-radius: 10px;
    background-color: #1b0f4e;
    font-family: "Trirong", serif;
    display: flex;
    flex-direction: column;
}

/* Styling for headings inside the chat container */
.chat-container h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

/* Styling for the chat box */
.chat-box {
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #e6e6ee;
    border: 1px solid #ccc;
    border-radius: 5px;
    scrollbar-color: #402b74 #e6e6ee;
    outline: 1px solid rgb(11, 2, 29);
    font-size: 13px;
}

/* Styling for the scrollbar */
.chat-box::-webkit-scrollbar {
    width: 8px;
}

.chat-box::-webkit-scrollbar-track {
    background: #e6e6ee;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #402b74;
    border-radius: 0;
}

/* Styling for user input */
#user-input {
    width: calc(70% - 10px);
    padding: 8px;
    border: 1px solid #cfaeae;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

/* Styling for buttons */
button {
    margin-top: 10px;
    width: calc(30% - 10px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-bottom: 0px;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for chat messages */
.message {
    margin-bottom: 10px;
    clear: both;
}

/* Styling for user messages */
.user-message {
    background-color: #e2f7fd;
    float: right;
    border-radius: 20px;
    padding: 10px 20px;
}

/* Styling for bot messages */
.bot-message {
    background-color: #f0f0f0;
    float: left;
    border-radius: 20px;
    padding: 10px 20px;
}
