/*Global styling for all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*To set default styles*/
body {
    font-family: Arial, sans-serif;
    color : white;
}

/*To style to main h1 heading*/
h1 { color : white;
    -webkit-text-stroke: 1px lightblue;
    font-family: "Georgia, serif";
    text-shadow: 10px 10px 10px blue;
    text-align : center;
    padding : 90px;
    padding-bottom : 20px;
}


/*To style image containers*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*To center the items horizontally */
    align-items: center;
    margin-top: 50px;  
}

/*To style each image boxes*/
.image-box img {
    height: 370px; 
    width: 500px;
    margin-top: 3px;
    object-fit: cover; /* To maintain aspect ratio and cover the entire space */
    border-radius: 15px;
}


.image-box {
 
    width: 1200px;
    height: 500px;
    background-color: #0a2351;
    margin-bottom: 150px; /*To increased gap between boxes */
    display: flex;
    padding : 20px;
    flex-direction: row;
    justify-content: flex-start; /*To align content to the top */
    align-items: center;
    border-radius: 15px;
}

    
/*To style each image description*/
.description {
    margin-top: 10px;
    margin-left: 20px; 
    text-align: left; 
}

.description h2 {
    margin-top: 20px;

}

.description h3 {
  margin-top: 20px;
  margin-bottom: 20px;

}

.description p {
    font-size: 14px;
    margin-bottom: 10px;
}

/*To style anchor list*/
.anchor-list {
  display: flex;
  justify-content: center;
  position: relative;
  bottom:20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  border: 1px solid white; /*To add a border to the anchor list */
  max-width: 1100px; 
  height: 30px;
  padding-top: 6px;
  background-color: black;
}

.anchor-list li {
  margin: 0 10px;
}

.anchor-list a {
  text-decoration: none;
  color: white;
  padding: 5px 15px; /* To add padding to the anchor list items */
  border-radius: 5px; /* To add rounded corners to the anchor list items */
  transition: background-color 0.3s;
}

.anchor-list a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* To add hover effect */
}

.donation-link {
  margin-bottom: 20px; 
}

.donation-link a {
  color: #efe8ec; /* Change to your desired color */
  text-decoration:none; /* Remove underline */
  font-weight: 400;
}

.donation-link a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}




