<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice of Unity</title>
    <link rel="stylesheet" href="../static/Chatbot/chatbot.css">
    <link rel="stylesheet" href="../static/NavigationCSS.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
</head>
<body>
    <header class="header">
        <a href="../static/images/bloghead.jpg" class="logo">
            V.O.U 
        <i class='bx bx-menu' id="menu-icon"></i>
        <div>
            <nav class="navbar">
                <a href="/userhome">Home</a>
                <a href="/aboutu">About</a>
                <a href="/helpuser">Support</a>
                <a href="/updateprofile">Profile</a>
            </nav>
        </div>
    </header>
    <div class="chat-container">
        <h1>VOICE OF UNITY CHATBOT</h1>
        <div class="chat-box" id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Type your message...">
        <button onclick="sendMessage()">Send</button>
        <br><br>
    </div>

    <footer>
        
        <div class="row">
            <div class="col">
                <img src="../static/images/logo (2).png" class="footer_logo">
                <p class="footer_about">Join us in making a difference! Sign up for updates and stay connected.

                </p>
            </div>
            <div class="col">
                <h3>Contact Us <div class="bottom_line"><span></span></div></h3>
                <p class="footer_email">voiceofunityweb@gmail.com</p>
                <h4>+94 - 715442990</h4>
            </div>
            <div class="col">
                <h3>Links <div class="bottom_line"><span></span></div></h3>
                <ul>
                    <li><a href="/userhome">HOME</a></li>
                    <li><a href="/aboutu">About</a></li>
                    <li><a href="/helpuser">SUPPORT</a></li>
                </ul>
            </div>
            <div class="col">
                
                
                    <div id="myid"></div>
                
                <div class="social_icons">
                    <ion-icon class="social_icon" name="logo-facebook"></ion-icon>
                    <ion-icon class="social_icon" name="logo-whatsapp"></ion-icon>
                    <ion-icon class="social_icon" name="logo-twitter"></ion-icon>
                    <ion-icon class="social_icon" name="logo-instagram"></ion-icon>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Voice of Unity Ⓒ 2024 - All Rights Reserved</p>
     </footer>  
     <script>

        function loadGoogleTranslate()
    
        {
    
            new google.translate.TranslateElement("myid")
    
        }
    
    </script>
     <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  

    <script src="../static/Chatbot/chatbot.js"></script>
</body>
</html>