<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice of Unity Petition System</title>
    <link rel="stylesheet" href="../static/NavigationCSS.css">
    <link rel="stylesheet" href="../static/HomeCSS.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <div>
        <nav class="navbar">
            <a href="/updateprofile">Home</a>
            <a href="/index">About</a>
            <a href="/recog">Contact</a>
            <a href="/loginp" class="login-btn">Log In</a>
            <a href="/registerform" class="signup-btn">Sign Up</a>

        </nav>
        </div>
    </header>
    <div class="wrapper">
        <div class="box box1">
            <div class="box-content">
                <h1>Sign For Change : Your Voice Matters</h1>
                <h3>Unleash Your Voice For Change! Voice Of Unity 
                    Online Petition System Lets You Create And Sign
                    Petitions Effortlessly. Join The Movement, Make
                    A Difference. Start Or Sign A Petition Now.
                </h3>
                <div class="search-panel">
                    <input type="text" id="search-input" class="search-input" placeholder="Search Petition...">
                    <button class="search-button" onclick="searchPetition()">Search</button>
                </div>
                <div class="sign-panel">
                    <button class="sign-button">Create Petition</button>
                </div>
                <div class="sign-panel">
                    <button class="sign-button">Sign Petition</button>
                </div>
            </div>
            <img src="../static/images/divider.png" alt="Image description" class="box-image">
        </div>
    </div>
  
    <script src="HomeJS.js"></script>
    <script type="module"  src="../static/connect.js"></script>
</body>
</html>

