
<html>
<head>
    <title>Voice of Unity Petition System</title>
    <link rel="stylesheet" href="../static/NavigationCSS.css">
    <link rel="stylesheet" href="../static/Face Auth/FaceAuth.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <div>
        <nav class="navbar">
            <a href="/updateprofile">Home</a>
            <a href="/index">About</a>
            <a href="../../../Face Recognition/templates/index.html">Contact</a>
            <a href="/updateprofile" class="login-btn">Log In</a>
            <a href="../Registration Page/reg.html" class="signup-btn">Sign Up</a>
        </nav>
        </div>
    </header>
    <h1 class="faceh1">Face Recognition</h1>
    <br>
    <video class="facecam" id="video" width="640" height="480" autoplay></video>
    <br>
    
    
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <br>
    
    <button class="tphoto-button" onclick="login()">Login</button>
    <br>
    <br>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>