<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title and external resources -->
    <title>Voice of Unity</title>
    <link rel="stylesheet" href="../static/NavigationCSS.css"> <!-- Stylesheet for navigation bar -->
    <link rel="stylesheet" href="../static/footer.css"> <!-- Stylesheet for footer -->
    <link rel="stylesheet" href="../static/Face Auth/UpdateProfile/usersetting.css"> <!-- Stylesheet for user settings -->
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script> <!-- Ionicons ES module -->
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script> <!-- Ionicons script for older browsers -->
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script> <!-- Google Translate script -->
    <script src="../static/Navbar.js"></script> <!-- Script for navbar functionality -->
</head>
<body>
    <!-- Header section -->
    <!-- Header section -->
    <header class="header">
        <img id="logo" src="../static/images/logo.png" alt="Logo">
        <i class='bx bx-menu' id="menu-icon"></i>
        <div>
            <!-- Navigation links -->
            <nav class="navbar">
                <a href="/userhome">Home</a>
                <a href="/aboutu">About</a>
                <a href="/helpuser">Support</a>
                <a href="/updateprofile">Profile</a>
            </nav>
        </div>
    </header>
    <!-- User profile settings -->
    <div class="box box1">
        <div class="box-content">
            <h1>User Profile</h1>
            <!-- Display user information -->
            <div>
                <h2>User Information</h2>
                <p>Username: <span id="usernameDisplay"></span></p>
                <p>Gmail: <span id="gmailDisplay"></span></p>
                <img src="" alt="Profile Picture" id="profilePictureDisplay">
            </div>
            <!-- Update user information -->
            <div>
                <br>
                <h2>Update User Information</h2>
                <label for="newUsername">New Username:</label>
                <input type="text" id="newUsername" required>
                <button onclick="validateAndUpdateUsername()">Update Username</button>

                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" required>
                <button onclick="updatePassword()">Update Password</button>
                <br><br>

                <input type="file" id="profilePictureInput" accept="image/*">
                <button onclick="validateAndUpdateProfilePicture()">Update Profile Picture</button>
                <br><br>

                <button onclick="logout()">Logout</button>
            </div>
        </div>
    </div>
    <!-- Footer section -->
    <!-- Footer -->
    <footer>
        <!-- Footer content -->
        <div class="row">
            <!-- Logo and about section -->
            <div class="col">
                <img src="../static/images/logo.png" class="footer_logo">
                <p class="footer_about">Join us in making a difference! Sign up for updates and stay connected.</p>
            </div>
            <!-- Contact section -->
            <div class="col">
                <h3>Contact Us <div class="bottom_line"><span></span></div></h3>
                <p class="footer_email">voiceofunityweb@gmail.com</p>
                <h4>+94 - 715442990</h4>
            </div>
            <!-- Links section -->
            <div class="col">
                <h3>Links <div class="bottom_line"><span></span></div></h3>
                <ul>
                    <li><a href="/userhome">Home</a></li>
                    <li><a href="/aboutu">About</a></li>
                    <li><a href="/helpuser">Support</a></li>
                </ul>
            </div>
            
            
            <!-- Social icons section -->
            <div class="col">
                <div id="myid"></div>
                <div class="social_icons">
                    <ion-icon class="social_icon" name="logo-facebook"></ion-icon>
                    <ion-icon class="social_icon" name="logo-whatsapp"></ion-icon>
                    <ion-icon class="social_icon" name="logo-twitter"></ion-icon>
                    <ion-icon class="social_icon" name="logo-instagram"></ion-icon>
                </div>
            </div>

            <select id="languageSelect" name="language">
                <option value="en">English</option>
                <option value="si">සිංහල</option>
                <option value="ta">தமிழ்</option>
            </select>
        </div>
        <hr>
        <!-- Copyright -->
        <p class="copyright" id="copyright">Voice of Unity Ⓒ 2024 - All Rights Reserved</p>
     </footer>
    <!-- Google Translate script -->
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("myid")
        }
    </script>

<!-- Firebase SDK scripts -->
<script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-database-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.3.0/firebase-storage-compat.js"></script>

<!-- Js file with backend operations -->
<script src="../static/Face Auth/UpdateProfile/up.js"></script>
</body>
</html>


